.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  position: relative;
}

.face {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  animation: faceAnimation 1.3s cubic-bezier(0.42, 0, 0.14, 1.01);
}

@keyframes faceAnimation {
  0% {
    transform: scale(2) translateY(100vh);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.eyes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  animation: eyeClose reverse;
}

.eye {
  width: 7rem;
  height: 7rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7rem;
  position: relative;
  will-change: transform;
  transition: scale 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.eye:hover {
  scale: 1.1;
  cursor: pointer;
}

.eye:active {
  scale: 0.8;
}

.mouth {
  width: 10rem;
  height: 1rem;
  background-color: white;
  margin-top: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform, width, height, border-radius;
  transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    height 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    scale 0.5s cubic-bezier(0.4, 0, 0.2, 1), background 0.5s ease;
}

.mouth:hover:not(.mouthClicked) {
  cursor: pointer;
  scale: 1.5;
}

.mouthClicked {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  background: #000;
  margin: 0 !important;
  padding: 5rem;
  transform: none !important;
}

/* @keyframes glowAnimation {
  0% {
    box-shadow: 0 0 50px #ff0080, 0 0 20px #ff0080, 0 0 30px #ff0080,
      0 0 40px #ff0080;
  }
  50% {
    box-shadow: 0 0 50px #ff8c00, 0 0 20px #ff8c00, 0 0 30px #ff8c00,
      0 0 40px #ff8c00;
  }
  100% {
    box-shadow: 0 0 50px #40e0d0, 0 0 20px #40e0d0, 0 0 30px #40e0d0,
      0 0 40px #40e0d0;
  }
} */

.textInput {
  border: none;
  outline: none;
  background: transparent;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  text-align: left;
  animation: input 1s forwards;
  font-weight: 700;
}

@keyframes input {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.textInput::placeholder {
  color: #747474;
}

.submitting {
  animation: submitAnimation 1s forwards !important;
}

@keyframes submitAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.sleeping {
  animation: eyeClose 0.5s forwards;
}

@keyframes eyeClose {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.05);
  }
}

.sleeping .mouth {
  animation: mouthSleep 0.5s forwards;
}

@keyframes mouthSleep {
  0% {
    transform: translateY(0);
    scale: 0;
  }
  100% {
    transform: translateY(20px);
  }
}

.eye {
  transform-origin: center center;
}

.mouthClicked,
.mouthClicked .textInput {
  pointer-events: auto;
}

.submittingInput {
  animation: inputSubmitAnimation 0.4s both;
}

@keyframes inputSubmitAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.up {
  transform: translateY(-100vh);
}

.mouthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
}
